/* Avenir Next */
@font-face {
    font-family: 'avenir-next';
    src: url(../fonts/Avenir-Next/Avenir-Next-bold.otf);
    font-weight: 600;
}

/* Fontspring */

@font-face {
    font-family: 'fontspring';
    src: url(../fonts/Fontspring/Fontspring-bold.otf);
    font-weight: 600;
}
@font-face {
    font-family: 'fontspring';
    src: url(../fonts/Fontspring/Fontspring-black.otf);
    font-weight: 700;
}

/* Sofiapro */

@font-face {
    font-family: 'sofiapro';
    src: url(../fonts/Sofiapro/sofiapro-light.otf);
    font-weight: 400;
}